/* src/About.css */
.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #E0DCB6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h1 {
    color: #363641;
    margin-bottom: 20px;
  }
  
  .about-container p {
    line-height: 1.6;
    color: #4a4a4a;
  }
  
  .about-container h2 {
    margin-top: 30px;
    color: #fb7537;
  }
  
  .about-container ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .about-container ul li {
    margin-bottom: 10px;
  }
  
  .about-container a {
    color: #0066ff;
    text-decoration: none;
  }
  
  .about-container a:hover {
    text-decoration: underline;
  }
  .gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .about-gif {
    max-width: 200px; 
    width: 100%;     
    height: auto;
    border-radius: 8px;
  }
